@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
}

.wrapper {
	display: flex;
	flex-direction: row;
}

#instructions {
	width: 28vw;
	margin-left: 25px;
	margin-right: 15px;
}

.body{
	margin: 5px 5px 5px 11px;
}

h1 {
	margin: 16px 5px 16px 10px;
	font-size: 40px;
}

.button {
	-moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin: auto;
	width: 96px;
	height: 36px;
	display: block;
	
	background-color: rgb(196, 25, 25);
	color: rgb(255, 255, 255);
}