<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">



        <script type=text/javascript src="{{
            url_for('static', filename='resources/jquery-3.2.1.min.js') }}"></script>
        <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>


        <link rel="stylesheet" type="text/css" media="screen" href="/static/style.css" />
        <script src="/static/main.js"></script>



        <title>Lowell Arena Helper</title>
    </head>
    <body>
        <form name="myForm" action="results" method="POST">
            <label>Preferred off block?
              <select name="off-block">
                <option selected value="base">I don't have a preferred off block</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
              </select>
              <br>
              On a scale from 1-5, how much do you value this block off? (How many
              pref points do you want to give it?)
              <select name="off-block-points">
                <option selected value="base">I don't have a preferred off block</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </label>
            <br>
            <input type="submit" value="Enter">
        </form>
    </body>
</html>







            <!-- <select id="second-choice">
                <option>Please choose from above</option>
            </select>
            <br> -->
