<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">



        <script type=text/javascript src="{{
            url_for('static', filename='resources/jquery-3.2.1.min.js') }}"></script>

        <!-- <script src="resources/jquery-3.2.1.min.js"></script> -->
        <!-- <script>
            //Fallback to local JQuery if CDN isn't working
            if (typeof jQuery == 'undefined') {
                document.write(unescape(
                "%3Cscript src='resources/jquery-3.2.1.min.js' type='text/javascript'%3E%3C/script%3E"));
            }
        </script> -->

        <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->
        <!-- <script>window.jQuery || document.write('<script src="{{url_for('static', filename='resources/jquery-3.2.1.min.js') }}">\x3C/script>')</script> -->

        <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>


        <link rel="stylesheet" type="text/css" media="screen" href="/static/style.css" />
        <script src="/static/main.js"></script>



        <title>Lowell Arena Helper</title>
    </head>
    <body>
        <form name="myForm" action="results" onsubmit="return validateForm()" method="POST">
            <div>
                <select id="one-choice">
                    <option selected value="base">Please Select</option>
                    <option value="math">Math/CS</option>
                    <option value="english">English</option>
                    <option value="science">Science</option>
                    <option value="history">History/Social Studies</option>
                    <option value="vpa">VPAs</option>
                    <option value="language">World Language</option>
                    <option value="pe">PE/Sports</option>
                    <option value="others">Other</option>
                    <option value="snacks">Snacks</option>
                    </select>
                <br>
                <label>Choose a class from the list:
                    <input list="first-choice" id="first-choice-select" name="block1" autocomplete="off"></label>
                <label>Preferred teacher?
                    <input list="first-teach" name="teach1" id="teach1" autocomplete="off"></label>
                <label>Preferred block?
                    <input list="first-pref" name="pref1" autocomplete="off"></label>
                <br>
            </div>
            <div>
                <select id="two-choice">
                        <option selected value="base">Please Select</option>
                        <option value="math">Math/CS</option>
                        <option value="english">English</option>
                        <option value="science">Science</option>
                        <option value="history">History/Social Studies</option>
                        <option value="vpa">VPAs</option>
                        <option value="language">World Language</option>
                        <option value="pe">PE/Sports</option>
                        <option value="others">Other</option>
                    </select>
                <br>
                <label>Choose a class from the list:
                    <input list="second-choice" id="second-choice-select" name="block2" autocomplete="off"></label>
                <label>Preferred teacher?
                    <input list="second-teach" id="teach2" name="teach2" autocomplete="off"></label>
                <label>Preferred block?
                    <input list="second-pref" name="pref2" autocomplete="off"></label>
                <br>
            </div>
            <div>
                <select id="three-choice">
                    <option selected value="base">Please Select</option>
                    <option value="math">Math/CS</option>
                    <option value="english">English</option>
                    <option value="science">Science</option>
                    <option value="history">History/Social Studies</option>
                    <option value="vpa">VPAs</option>
                    <option value="language">World Language</option>
                    <option value="pe">PE/Sports</option>
                    <option value="others">Other</option>
                    </select>
                <br>
                <label>Choose a class from the list:
                    <input list="third-choice" id="third-choice-select" name="block3" autocomplete="off"></label>
                <label>Preferred teacher?
                    <input list="third-teach" name="teach3" id="teach3" autocomplete="off"></label>
                <label>Preferred block?
                    <input list="third-pref" name="pref3" autocomplete="off"></label>
                <br>
            </div>
            <div>
                <select id="four-choice">
                        <option selected value="base">Please Select</option>
                        <option value="math">Math/CS</option>
                        <option value="english">English</option>
                        <option value="science">Science</option>
                        <option value="history">History/Social Studies</option>
                        <option value="vpa">VPAs</option>
                        <option value="language">World Language</option>
                        <option value="pe">PE/Sports</option>
                        <option value="others">Other</option>
                    </select>
                <br>
                <label>Choose a class from the list:
                    <input list="fourth-choice" id="fourth-choice-select" name="block4" autocomplete="off"></label>
                <label>Preferred teacher?
                    <input list="fourth-teach" name="teach4" id="teach4" autocomplete="off"></label>
                <label>Preferred block?
                    <input list="fourth-pref" name="pref4" autocomplete="off"></label>
                <br>
            </div>
            <div>
                <select id="five-choice">
                        <option selected value="base">Please Select</option>
                        <option value="math">Math/CS</option>
                        <option value="english">English</option>
                        <option value="science">Science</option>
                        <option value="history">History/Social Studies</option>
                        <option value="vpa">VPAs</option>
                        <option value="language">World Language</option>
                        <option value="pe">PE/Sports</option>
                        <option value="others">Other</option>
                    </select>
                <br>
                <label>Choose a class from the list:
                    <input list="fifth-choice" id="fifth-choice-select" name="block5" autocomplete="off"></label>
                <label>Preferred teacher?
                    <input list="fifth-teach" name="teach5" id="teach5" autocomplete="off"></label>
                <label>Preferred block?
                    <input list="fifth-pref" name="pref5" autocomplete="off"></label>
                <br>
            </div>
            <div>
                <select id="six-choice">
                        <option selected value="base">Please Select</option>
                        <option value="math">Math/CS</option>
                        <option value="english">English</option>
                        <option value="science">Science</option>
                        <option value="history">History/Social Studies</option>
                        <option value="vpa">VPAs</option>
                        <option value="language">World Language</option>
                        <option value="pe">PE/Sports</option>
                        <option value="others">Other</option>
                    </select>
                <br>
                <label>Choose a class from the list:
                    <input list="sixth-choice" id="sixth-choice-select" name="block6" autocomplete="off"></label>
                <label>Preferred teacher?
                    <input list="sixth-teach" name="teach6" id="teach6" autocomplete="off"></label>
                <label>Preferred block?
                    <input list="sixth-pref" name="pref6" autocomplete="off"></label>
                <br>
            </div>
            <div>
                <select id="seven-choice">
                        <option selected value="base">Please Select</option>
                        <option value="math">Math/CS</option>
                        <option value="english">English</option>
                        <option value="science">Science</option>
                        <option value="history">History/Social Studies</option>
                        <option value="vpa">VPAs</option>
                        <option value="language">World Language</option>
                        <option value="pe">PE/Sports</option>
                        <option value="others">Other</option>
                    </select>
                <br>
                <label>Choose a class from the list:
                    <input list="seventh-choice" id="seventh-choice-select" name="block7" autocomplete="off"></label>
                <label>Preferred teacher?
                    <input list="seventh-teach" name="teach7" id="teach7" autocomplete="off"></label>
                <label>Preferred block?
                    <input list="seventh-pref" name="pref7" autocomplete="off"></label>
                <br>
            </div>
            <div>
                <select id="eight-choice">
                        <option selected value="base">Please Select</option>
                        <option value="math">Math/CS</option>
                        <option value="english">English</option>
                        <option value="science">Science</option>
                        <option value="history">History/Social Studies</option>
                        <option value="vpa">VPAs</option>
                        <option value="language">World Language</option>
                        <option value="pe">PE/Sports</option>
                        <option value="others">Other</option>
                    </select>
                <br>
                <label>Choose a class from the list:
                    <input list="eighth-choice" id="eighth-choice-select" name="block8" autocomplete="off"></label>
                <label>Preferred teacher?
                    <input list="eighth-teach" name="teach8" id="teach8" autocomplete="off"></label>
                <label>Preferred block?
                    <input list="eighth-pref" name="pref8" autocomplete="off"></label>
                <br>
            </div>
            <br>
            <input type="submit" value="Enter">
        </form>


        <datalist id="first-choice"></datalist>
        <datalist id="second-choice"></datalist>
        <datalist id="third-choice"></datalist>
        <datalist id="fourth-choice"></datalist>
        <datalist id="fifth-choice"></datalist>
        <datalist id="sixth-choice"></datalist>
        <datalist id="seventh-choice"></datalist>
        <datalist id="eighth-choice"></datalist>

        <datalist id="first-teach"></datalist>
        <datalist id="second-teach"></datalist>
        <datalist id="third-teach"></datalist>
        <datalist id="fourth-teach"></datalist>
        <datalist id="fifth-teach"></datalist>
        <datalist id="sixth-teach"></datalist>
        <datalist id="seventh-teach"></datalist>
        <datalist id="eighth-teach"></datalist>

        <datalist id="first-pref"></datalist>
        <datalist id="second-pref"></datalist>
        <datalist id="third-pref"></datalist>
        <datalist id="fourth-pref"></datalist>
        <datalist id="fifth-pref"></datalist>
        <datalist id="sixth-pref"></datalist>
        <datalist id="seventh-pref"></datalist>
        <datalist id="eighth-pref"></datalist>
    </body>
</html>







            <!-- <select id="second-choice">
                <option>Please choose from above</option>
            </select>
            <br> -->
