<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Lowell Arena Helper</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
        <script src="static/main.js"></script>
        <link href="static/bootstrap.min.css" rel="stylesheet">
        <link href="static/dataTables.bootstrap.css" rel="stylesheet">

    </head>
    <body>
        Thank you for submitting!
        <div class="container-fluid">

            <h2>CSV to HTML Table</h2>
      
            <p>Display any CSV file as a searchable, filterable, pretty HTML table. Done in 100% JavaScript. <a href='https://github.com/derekeder/csv-to-html-table'>Code on GitHub</a>.</p>
      
            <p><a href = "www.arenarolodex.herokuapp.com">Return to beginning</a></p>
            
            <div id='table-container'></div>
      
          </div><!-- /.container -->
      
          <footer class='footer'>
            <div class='container-fluid'>
              <hr />
              <p class='pull-right'><a href='https://github.com/derekeder/csv-to-html-table'>CSV to HTML Table</a> by <a href='http://derekeder.com'>Derek Eder</a></p>
            </div>
          </footer>
      
          <!-- Bootstrap core JavaScript
          ================================================== -->
          <!-- Placed at the end of the document so the pages load faster -->
          <script type="text/javascript" src="static/resources/jquery-3.2.1.min.js"></script>
          <script type="text/javascript" src="static/resources/bootstrap.min.js"></script>
          <script type="text/javascript" src="static/resources/jquery.csv.min.js"></script>
          <script type="text/javascript" src="static/resources/jquery.dataTables.min.js"></script>
          <script type="text/javascript" src="static/resources/dataTables.bootstrap.js"></script>
          <script type="text/javascript" src="static/resources/csv_to_html_table.js"></script>
      
      
          <script type="text/javascript">
            function format_link(link){
              if (link)
                return "<a href='" + link + "' target='_blank'>" + link + "</a>";
              else
                return "";
            }
      
            CsvToHtmlTable.init({
              csv_path: '../fileoutput.csv',
              element: 'table-container', 
              allow_download: true,
            //   csv_options: {separator: ',', delimiter: '"'},
              datatables_options: {"paging": false},
            });
          </script>
    </body>
</html>