@import url('https://rsms.me/inter/inter-ui.css');

.deleteBut {
  margin: 0 0 0 auto;
  /* TODO: get it to align better */
}
.course { background-color: #e7cb54; }
.freeblock { background-color: #78f1ea; }
.freeblock, .course {
  width: 60%;
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 0.8rem 0.8rem 0.4rem;
  border-radius: .5rem;
}
.freeblock > label, .course > label {
  padding: 0.2rem 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.freeblock > label > div, .course > label > div {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-left: auto;
}
.freeblock input {
  width: 2rem;
}
@media (max-width:800px) {
  .freeblock > label, .course > label {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1.8vh;
  }
  .course, .freeblock {
    width: 90%;
  }
  .course select, .course option {
    overflow-x: hidden;
    max-width: 100%;
    font-size: 2vh;
  }
}


button {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 13px;
  border: solid 2px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  margin: 10px 5px;;
  padding: 7px;
}

button:hover,
button:focus {
  color: #fff;
  border-color: #e8ca6f;
  background-color: #e8ca6f
}

button:disabled {
  background-color: buttonface;
  color: graytext;
  border-color: rgb(128, 128, 128);
}


input {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 13px;
  border: solid 2px;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  margin: 10px 5px;;
  padding: 7px;
}

/* input:hover,
input:focus {
  color: #fff;
  border-color: #e8ca6f;
  background-color: #e8ca6f
} */

input:disabled {
  background-color: buttonface;
  color: graytext;
  border-color: rgb(128, 128, 128);
}


select {
  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
  /* font-size: 13px; */
  /* border: solid 2px; */
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* margin: 10px 5px;; */
  /* padding: 7px; */
  /* float: right; */
}


input[name=priorityBlock] {
  font-family: 'Inter UI', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: initial;
  width: 10%;
  text-align: center;
  border: initial;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin: initial;
  padding: initial;
  height: 20.667px;
}


/* .changelog {
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
}

.gist .gist-file {
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
}

.gist .gist-data {
  -moz-border-radius: 30px 30px 0 0;
  -webkit-border-radius: 30px 30px 0 0;
  border-radius: 30px 30px 0 0;
}

.gist .gist-meta {
  -moz-border-radius: 0 0 30px 30px;
  -webkit-border-radius: 0 0 30px 30px;
  border-radius: 0 0 30px 30px;
} */

label {
  vertical-align: middle;
  text-align: center;

  margin: 1.5% 0 1.5% 0.5%;
}

/* .btn-white {
  background-color: #ACB1B4;
  color: #fff;
  font-size: 13px;
  border: solid 2px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  display: inline-block;
  border-color: #fff
}

.btn-white:hover,
.btn-white:focus {
  color: #e8ca6f;
  border-color: #e8ca6f
}

.center {
  margin-top: -0.5px;
  margin-bottom: 0px;
  position: relative;
}

.btn-fill {
  color: #fff;
  border: solid 2px rgba(28, 54, 83, 0.6);
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  display: inline-block;
  text-transform: uppercase;
  background-color: rgba(28, 54, 83, 0.6);
}

.btn-fill:hover,
.btn-fill:focus {
  color: #fff;
  background-color: #d3b56a;
  border-color: #d3b56a
}

.btn-small {
  padding: 8px 30px
}

.btn-large {
  padding: 15px 40px
}

.btn-margin-right {
  margin-right: 20px
}
 */
