<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
        <script src="main.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script>
            //Fallback to local JQuery if CDN isn't working
            if (typeof jQuery == 'undefined') {
                document.write(unescape(
                "%3Cscript src='resources/jquery-3.2.1.min.js' type='text/javascript'%3E%3C/script%3E"));
            }
        </script>
        <script type=text/javascript>
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
        </script>



        <title>Lowell Arena Helper</title>
    </head>
    <body>
        <select id="first-choice">
            <option selected value="base">Please Select</option>
            <option value="beverages">Beverages</option>
            <option value="snacks">Snacks</option>
        </select>
        <br>

        <select id="second-choice">
            <option>Please choose from above</option>
        </select>
        
        
        <form action="results" method="POST" autocomplete="off">
            <label>Choose a class from the list:
                <input list="classes" name="block1" autocomplete="off"></label>
                <br>
            <label>Choose a class from the list:
                <input list="classes" name="block2" autocomplete="off"></label>
                <br>
            <label>Choose a class from the list:
                <input list="classes" name="block3" autocomplete="off"></label>
                <br>
            <label>Choose a class from the list:
                <input list="classes" name="block4" autocomplete="off"></label>
                <br>
            <label>Choose a class from the list:
                <input list="classes" name="block5" autocomplete="off"></label>
                <br>
            <label>Choose a class from the list:
                <input list="classes" name="block6" autocomplete="off"></label>
                <br>
            <label>Choose a class from the list:
                <input list="classes" name="block7" autocomplete="off"></label>
                <br>
            <label>Choose a class from the list:
                <input list="classes" name="block8" autocomplete="off"></label>
                <br>
            <input type="submit" value="Enter">
        </form>

        <datalist id="classes">
            <option value="">
            <option value="">
            <option value="">
            <option value="">
            <option value="">
            <option value="">
        </datalist>
    </body>
</html>
